<a href="https://colab.research.google.com/github/chriswin17/basics4/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
num=int(input("Enter the number to display the corresponding multiplication table : "))
for i in range(1,11):
  print(i,"*",num,"=",i*num)

Enter the number to display the corresponding multiplication table : 5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [3]:
num=int(input())
i=1
while(i<=10):
  print(i*num)
  i=i+1

1
1
2
3
4
5
6
7
8
9
10

In [4]:
num=input("Enter the number : ")
k=0
for i in num:
  k=k+1
print(k)

Enter the number : 50
2

In [15]:
num=input("Enter the number ")
for i in num:
  print(i)

Enter the number 12345
1
2
3
4
5

In [31]:
num=input("Enter the number : ")
d=0
for i in num:
  #print(i)
  d=d+1
print(d)

Enter the number : im 18 rn
8

In [30]:
num=input("Enter the number : ")
d=0
for i in num:
  #print(i)
  d=d+1
  print(d)

Enter the number : i turned 18
1
2
3
4
5
6
7
8
9
10
11

In [39]:
string=input(("Enter a string : "))
reversestring= ""
for i in string:
    reversestring = i + reversestring
print("reverse string: ",reversestring)      
if (string == reversestring):
    print("The string is palindrome")
else:
    print("The string is not palindrome")

Enter a string : chriswin
reverse string:  niwsirhc
The string is not palindrome

In [50]:
list=["Canada","France","Switzerland","Germany"]
print(list)
list.append("Germany")

['Canada', 'France', 'Switzerland', 'Germany']

In [46]:
name=input("Enter the number : ")
if name.isupper():
  print("Upper case")
  print(name.lower())
if name.islower():
  print("lower case")
  print(name.upper())

Enter the number : chriswin
lower case
CHRISWIN