<a href="https://colab.research.google.com/github/chriswin17/basics4/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name=input("Enter the name ")
print(name)

Enter the name 25
25

In [2]:
m1=int(input("Enter the mark for subject 1 : "))
m2=int(input("Enter the mark for subject 2 : "))
m3=int(input("Enter the mark for subject 3 : "))
sum=m1+m2+m3
print("The total mark is :",sum)
print("The average mark is :",sum/3)

Enter the mark for subject 1 : 34
Enter the mark for subject 2 : 35
Enter the mark for subject 3 : 36
The total mark is : 105
The average mark is : 35.0

In [3]:
num1=int(input("Enter the first number "))
num2=int(input("Enter the second number "))
num3=int(input("Enter the third number "))
if num1>num2:
  print("The largest number is ",num1)
if num1<num2:
  print("The largest number is ",num2)
if num3>num1:
  print("The largest number is ",num3)
if num3>num2:
  print("The largest number is ",num3)

Enter the first number 5
Enter the second number 8
Enter the third number 4
The largest number is  8

In [4]:
num1=int(input("Enter the first number "))
num2=int(input("Enter the second number "))
num3=int(input("Enter the third number "))
if num1>num2 and num1>num3:
  print("The largest number is ",num1)
if num2>num1 and num2>num3:
  print("The largest is ",num2)
else:
  print("The largest number is ",num3)

Enter the first number 4
Enter the second number 7
Enter the third number 8
The largest number is  8

In [7]:
n1=int(input("Enter the number "))
if n1%2 !=0:
  print("odd")
else:
  print("even")

Enter the number 2
even

In [8]:
m1=int(input("enter the number "))
if m1%2 !=0:
 print("odd")
else:
 print("even")

enter the number 3
odd

In [10]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
for i in range(1,11):
 if i%2 ==0:
  print(i)

2
4
6
8
10

In [16]:
for i in range(1,11):
  print(i,'* 5', '=', i*5)

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50