<a href="https://colab.research.google.com/github/chriswin17/basics4/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
x=input("Enter the passenger's name : ")
y=input("Enter the passenger's destination : ")
z=input("Enter the total number of passengers : ")
print(x)
print(y)
print(z)
print("Passenger's name :",x," ;  Passenger's destination :",y," ;  Total number of passengers :",z)

Enter the passenger's name : Chriswin
Enter the passenger's destination : Paris
Enter the total number of passengers : 2
Chriswin
Paris
2
Passenger's name : Chriswin  ;  Passenger's destination : Paris  ;  Total number of passengers : 2

In [14]:
x=input("Enter the Passenger's name : ")
y=input("Enter the Ticket Fare : ")
print(x)
print(y)
print("Passenger's name : ",x,"; Passenger's Ticket Fare",y)

Enter the Passenger's name : Chriswin
Enter the Ticket Fare : 1500
Chriswin
1500
Passenger's name :  Chriswin ; Passenger's Ticket Fare 1500

In [19]:
x=int(input("Enter total fare : "))
if x>10000:
  print("Eligible for Discount")
else:
    print("Not eligible for Discount")

Enter total fare : 12000
Eligible for Discount

In [20]:
x=int(input("Enter the total fare : "))
if x>15000:
  print("Eligible for 20% Discount")
else:
  print("Eligible for 10% Dicount")

Enter the total fare : 16000
Eligible for 20% Discount

In [36]:
x=int(input("Enter the total fare : "))
y=(x*20)/100
if x>15000:
  print("The total fare is dicounted at ",y)
  print(x-y)
y=(x*10)/100
if x>10000:
  print("The total fare is discounted at ",y)
  print(x-y)
y=(x*5)/100
if x<10000:
  print("The total fare is discounted at ",y)
  print(x-y)

Enter the total fare : 5000
The total fare is discounted at  250.0
4750.0

In [42]:
x=int(input("Enter a number "))
if x>0:
  print("Positive")
if x<0:
  print("Negative")
else:
  print("Zero")

Enter a number -3
Negative

In [47]:
x=int(input("Age : "))
if x>=18:
  print("Adult")
elif x>=13 and x<=19:
  print("Teenager")
elif x>=6 and x<=12:
  print("Kid")
elif x>=2 and x<=5:
  print("Toddler")
else:
  print("Infant")

Age : 17
Teenager

In [50]:
x=input("Passenger's initial ")
if x=="A":
  print("Vowel")
elif x=="E":
  print("Vowel")
elif x=="I":
  print("Vowel")
elif x=="O":
  print("Vowel")
elif x=="U":
  print("Vowel")

Passenger's initial A
Vowel

In [58]:
x=int(input("Enter the Starting Value "))
y=int(input("Enter the Ending Value "))
z=range(x,y)
for a in z:
  if a%2!=0 :
    print(a)

Enter the Starting Value 82
Enter the Ending Value 86
83
85

In [60]:
x=input("Enter your Name ")
for a in x:
  print(a)

Enter your Name Chriswin
C
h
r
i
s
w
i
n